@import './modules/variables.css';
@import './modules/header.css';
@import './modules/layout.css';
@import './modules/menu.css';
@import './modules/nav.css';
@import './modules/cards.css';
@import './modules/button.css';
@import './modules/hero.css';
@import './modules/animations.css';

.body{
    background-color: var(--primary-them-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font-familiy);
    margin: 0;
}

